* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem;
}

.nav-links, .nav-link-button {
  display: none;
}

@media (min-width: 800px) {
  .nav {
    z-index: 100;
    position: relative;
    background-color: #fff;
  }
  .nav-hamburger-icon, .nav-close-icon {
    display: none;
  }
  .nav-links, .nav-link-button {
    display: block;
  }
  .nav-links {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 15px;
  }
  .nav-links li a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  .nav-links li a:after {
    width: 100%;
    height: 3px;
    content: "";
    background-color: #000;
    display: block;
    position: absolute;
    bottom: -43px;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
  }
  .nav-links li a:hover::after {
    opacity: 1;
  }
  .nav-link-button {
    padding: 1em 3em;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(90deg, #31d35c, #2bb7da);
    color: #fff;
    cursor: pointer;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  .nav-link-button:hover {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
}

.hero {
  overflow: hidden;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 80px;
}

.hero-images {
  position: relative;
}

.hero-background-image {
  width: 100%;
}

.hero-mockupImg {
  width: 100%;
  position: absolute;
  top: -20%;
  left: 0;
}

.hero-header {
  font-size: 2.5rem;
  font-weight: 400;
  max-width: 380px;
  margin: auto;
}

.hero-discription {
  margin: 1.5rem auto 2rem;
  max-width: 380px;
}

.hero-invitebtn {
  padding: 1em 3em;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
}

@media (min-width: 800px) {
  .hero {
    overflow: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1264px;
    margin: 0 auto 80px;
  }
  .hero-images {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
  .hero-header {
    margin: 0;
  }
  .hero-discription {
    margin: 1.5rem 0 2rem;
  }
}

.why-choose {
  text-align: center;
  margin-bottom: 40px;
}

.why-choose-header {
  font-size: 2.0rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.why-choose-discription {
  width: 90%;
  margin: auto;
  line-height: 29px;
  max-width: 380px;
  margin-bottom: 40px;
}

.why-choose-col {
  max-width: 380px;
  margin: auto;
  padding: 0 10px;
}

.why-choose-col-icon {
  margin: 20px auto;
}

.why-choose-col-header {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.why-choose-col-discription {
  line-height: 29px;
  font-size: .9rem;
}

@media (min-width: 800px) {
  .why-choose {
    background-color: gray;
  }
  .why-choose-container {
    padding: 30px 10px 0;
    max-width: 1264px;
    margin: auto;
  }
  .why-choose-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .why-choose-header {
    text-align: left;
  }
  .why-choose-discription {
    text-align: left;
    margin: 0 0 30px 0;
    max-width: 50%;
  }
  .why-choose-col {
    width: 300px;
    height: 350px;
    text-align: left;
    padding: 0;
  }
}

.latestArticle {
  padding: 0 10px;
  margin-top: 50px;
  text-align: center;
}

.latestArticle-header {
  font-weight: 400;
  font-size: 2.0rem;
  margin-bottom: 40px;
}

.latestArticle-row {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin: auto;
}

.latestArticle-col {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  max-width: 370px;
  padding-bottom: 40px;
  background-color: #aaa;
}

.latestArticle-col img {
  width: 100%;
  margin-bottom: 25px;
  height: 250px;
}

.latestArticle-col-Author {
  font-size: .7rem;
  padding: 0 20px;
}

.latestArticle-col-header {
  padding: 0 20px;
  margin: 10px 0;
}

.latestArticle-col-header a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.latestArticle-col-discription {
  padding: 0 20px;
  font-size: .8rem;
}

@media (min-width: 800px) {
  .latestArticle {
    max-width: 1264px;
    margin: 50px auto 0;
  }
  .latestArticle-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .latestArticle-header {
    text-align: left;
  }
  .latestArticle-col {
    width: 300px;
    height: 500px;
  }
}

.footer {
  margin-top: 80px;
  background-color: #0d5185;
  text-align: center;
  padding: 40px 0;
}

.footer-links-1, .footer-links-2 {
  list-style-type: none;
}

.footer-links-1 li + li, .footer-links-2 li + li {
  margin-top: 15px;
}

.footer-links-1 a, .footer-links-2 a {
  color: #fff;
  text-decoration: none;
}

.footer-links-1 a:hover, .footer-links-2 a:hover {
  color: red;
}

.footer-links-1 {
  margin-bottom: 15px;
}

.footer-links-2 {
  margin-bottom: 30px;
}

.footer-social-logo .footer-socials {
  max-width: 200px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright button {
  padding: 1em 3em;
  font-weight: 700;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c, #2bb7da);
  border: none;
  border-radius: 25px;
}

.footer-copyright .footer-copyright-text {
  color: #fff;
  margin: 40px 0;
  font-size: .9rem;
}

@media (min-width: 800px) {
  .footer {
    text-align: left;
    padding: 40px 10px;
  }
  .footer-container {
    max-width: 1264px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .footer-copyright {
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */