.footer {
    margin-top: 80px;
    background-color: $Pr-Dark-Blue;
    text-align: center;
    padding: 40px 0;

    &-links-1, &-links-2 {
        list-style-type: none;

        li + li {
            margin-top: 15px;
        }
        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: $Pr-Lime-Green;
            }
        }
    }

    &-links-1 {
        margin-bottom: 15px;
    }

    &-links-2 {
        margin-bottom: 30px;
    }

    &-social-logo {
        .footer-socials {
            max-width: 200px;
            margin: 30px auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    &-copyright {
        .footer-copyright-text {
            color: #fff;
            margin: 40px 0;
            font-size: .9rem;
        }
    }
}

@media (min-width: 800px) {
    .footer {
        text-align: left;
        padding: 40px 10px;
        &-container {
            max-width: 1264px;
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;

            &-1 {
                display: flex;
                justify-content: space-between;
                width: 50%;
                // background-color: red;
            }
        }
        &-copyright {
            text-align: right;
        }
    }
}

@media (min-width: 900px) {
    .footer {
        &-social-logo {
            width: 200px;
        }
    }
}