$Pr-Dark-Blue: hsl(233, 26%, 24%);
$Pr-Lime-Green: hsl(136, 65%, 51%);
$Pr-Bright-Cyan: hsl(192, 70%, 51%);

$n-Grayish-Blue: hsl(233, 8%, 62%);
$n-Light-Grayish-Blue: hsl(220, 16%, 96%);
$n-Very-Light-Gray: hsl(0, 0%, 98%);
$n-White: hsl(0, 0%, 100%);
