.hero {
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 80px;

    &-images {
        position: relative;
    }

    &-background-image {
        width: 100%;
    }

    &-mockupImg {
        width: 100%;
        position: absolute;
        top: -20%;
        left: 0;
    }

    &-header {
        font-size: 2.5rem;
        font-weight: 400;
        max-width: 380px;
        margin: auto;
    }

    &-discription {
        margin: 1.5rem auto 2rem;
        max-width: 380px;
        color: $n-Grayish-Blue;
    }

    &-invitebtn {
        padding: 1em 3em;
        border-radius: 25px;
        border: none;
        font-weight: 700;
        background-image: linear-gradient(90deg, $Pr-Lime-Green, $Pr-Bright-Cyan);
        color: #fff;
        cursor: pointer;
    }
}

@media (min-width: 800px) {
    .hero {
        overflow: initial;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 90%;
        max-width: 1264px;
        margin: 0 auto 80px;

        &-images {
            order: 2;
        }

        &-text {
            order: 1;
            text-align: left;
        }

        &-header {
            margin: 0;
            max-width: 400px;
        }

        &-discription {
            margin: 1.5rem 0 2rem;
        }
    }
}
