.latestArticle {
    padding: 0 10px;
    margin-top: 50px;
    text-align: center;
    &-header {
        font-weight: 400;
        font-size: 2.0rem;
        margin-bottom: 40px;
    }

    &-row {
        display: grid;
        gap: 10px;
        margin: auto;
    }

    &-col {
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        text-align: left;
        max-width: 370px;
        padding-bottom: 40px;
        background-color: $n-White;

        img {
            width: 100%;
            margin-bottom: 25px;
            height: 250px;
        }

        &-Author {
            font-size: .7rem;
            padding: 0 20px;
            color: rgb(191, 191, 191);
        }

        &-header {
            padding: 0 20px;
            margin: 10px 0;
            a {
                color: #000;
                text-decoration: none;
                font-weight: 400;

                &:hover {
                    color: $Pr-Lime-Green;
                };
            }
        }

        &-discription {
            padding: 0 20px;
            font-size: .8rem;
            color: $n-Grayish-Blue;
        }
    }
}

@media (min-width: 800px) {
    .latestArticle {
        max-width: 1264px;
        width: 90%;
        margin: 100px auto 0;
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &-header {
            text-align: left;
        }

        &-col {
            width: 300px;
            height: 500px;
        }
    }
}